article {
    background-color: #36393F;
    display: flex;
    flex-direction: column;

    .detalle-img-banner {
        display: flex;
        height: 550px;
        object-fit: cover;
    }
    
    .detalle-container-links {
        display: flex;
        justify-content: center;
    
        .detalle-links {
            color: #fff;
            text-decoration: none;
            padding: 20px;
            .detalle-links:active {
                padding-bottom: 5px;
                border-bottom: 2px solid rgb(220, 221, 222);
            }
        }
    }
    
    .info-container {
        display: flex;
        justify-content: center;
        padding: 50px;

        .info-container-img {
            display: flex;
            margin-right: 20px;
        }
    
        .info-detalles {
            width: 50%;
            color: rgba(255, 255, 255, 0.733);
            font-weight: 100;

            .info-detalles-title {
                padding-bottom: 20px;
            }

            .rating-stars {
                color: rgb(33, 150, 243);
                border-image: rgb(33, 150, 243);
            }
            p {
                padding: 5px;

            }
        }
        
        .info-links {
            display: flex;
            margin: 20px;
        
            li {
                list-style: none;
                padding-right: 20px;
            }
        }
    }
}
