section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393F;
    padding: 50px;
    
    .home-tendencia-title {
        color: #fff;
        display: flex;
        text-decoration: none;
    }
}