.peliculas-tendencia {
    display: flex;
    align-items: center;
    text-decoration: none;

    .title {
        color: gainsboro;
        font-size: 35px;
        font-weight: 300;
    }

    .FiArrowRight {
        color: #2196F3;
        font-size: 20px;
        padding-left: 10px;
    }
}

.cards-tendencias {
    display: flex;
    margin: 20px 0 30px 0;
    
    .cards-link {
        color: gainsboro;
        text-decoration: none;
        padding: 10px;

        h2 {
            text-align: center;
            font-weight: 200;
            margin-top: 10px;
        }
    }
}