.movies {
    background-color: #36393F;
    padding: 50px 30px;
}

.categorias-movies {

    .titulo-categorias-movies {
        display: flex;
    }

    .categorias-lista-movie {
        display: flex;
    }
}
