h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.search {
    height: 840px;
    background-color: #36393F;
    padding: 50px 30px;

    .search-cards {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        color: #fff;
        font-weight: 300;
    }
}