section {
    display: flex;
    justify-content: center;
    background-color: #36393f;
    
    .title {
        color: gainsboro;
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .search-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        text-decoration: none;

        div {
            padding: 10px;
        }
    }

    h3 {
        color: #fff;
        text-align: center;
        font-weight: 200;
        margin-bottom: 20px;
    }

    .paginado {
        button {
            color: #fff;
        }
    }
}

@media screen and (max-width: 576px) {
    section {
        .title {
            font-size: 24px;
       }
    }
    
}